﻿@model TodoViewModel
@using Humanizer
@{
    ViewData["Title"] = "Manage your todo list";
}
<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input type="checkbox" name="@item.Id" value="true" class="done-checkbox">
                </td>
                <td>@item.Title</td>
                <td>@item.DueAt.Humanize()</td>
            </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        <form>
            <div id="add-item-error" class="text-danger"></div>
            <label for="add-item-title">Add a new item:</label>
            <input id="add-item-title">
            <button type="button" id="add-item-button">Add</button>
        </form>
    </div>
</div>